/*body {
  background-image: url('../img/adobe-127952751.jpeg');
 
}
#container
{
  border: black;
  padding: 10%;
  border-style: dashed;
  margin: 5px;
}
}*/
h1{
  font-family: 'Dancing Script', cursive;
  
}