/*body {
  background-image: url('../img/adobe-127952751.jpeg');
 
}
#container
{
  border: black;
  padding: 10%;
  border-style: dashed;
  margin: 5px;
}

}*/
body{
  background-color: yellow;
}
h1{
  font-family: 'Dancing Script', cursive;
  color:crimson;
}
.container
{
  width: 65%;
  margin:auto;
  background-color: white;
}
.selected {
  border: 1px solid red;
}
.card > button{
  border: none;
}
.card-deck{
  width: 180;
}

input[type="checkbox"] {
  opacity: 0;
}
input[type="checkbox"]:checked::after{
  content: "Checked";
}